* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(44, 45, 50);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fon::after {
  content: '';
  background: url(img/fon.jpg);
  background-size: 400px;
  opacity: 0.2;
  top: 100px;
  left: 65%;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
